<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible Nginx</title>
</head>
<body>
    <h1>Hello from {{ ansible_hostname }}!</h1>
    <p>Ansible Nginx Setup</p>
</body>
</html>
